.library {
  .page-header {
    /* width: 100%; */
    /* -webkit-filter: blur(1px); */
    background-image: url('/library-header.jpg');
  }
  table {
    background: white;
    thead {
      th {
        text-align: center;
        height: 35px;
      }
    }
    tbody {
      tr {
        font-weight: 400;
        font-size: 12px;
        height: 30px;
        text-align: center;
      }
    }
  }
}
