.bootstrap-typeahead {
    .bootstrap-tokenizer {
        .token {
            .token-removeable {
                background-color: aquamarine;
            }
        }
    }
}

.header-thumbnail {
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid lightcoral;
}