.bootstrap-typeahead {
    .bootstrap-tokenizer {
        .token {
            .token-removeable {
                background-color: aquamarine;
            }
        }
    }
}

.header-thumbnail {
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid lightcoral;
}

.list-form {
    .list-form-field-header {
        border: none !important;
        padding: 0;
        padding-bottom: 4px;
    }
    .list-form-field-value {
        &:hover {
            background: whitesmoke;
        }
        &.active {
            a {
                color: white !important;
            }
        }
        font-size: 14px;
        font-weight: 500;
        button {
            margin-right: 5px;
        }
    }
    .list-form-field-value-edit {
        cursor: pointer;
    }
    .list-form-field-hidden {
        display: none;
    }
}

.collapse-header {
    .panel-heading {
        cursor: pointer;
        .actions {
            margin-top: -35px;
            i {
                &:hover {
                    cursor: pointer;
                }
                font-size: 12px;
                margin: 0 3px;
            }
            position: absolute;
            right: 20px;
        }
    }
}

.text-input {
  .text-input-group {
    .glyphicon {
      margin-left: -5px;
    }
  }
}
