.login {

  background-image: url('/search-header.jpg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  .page-header {
    /* width: 100%; */
    /* -webkit-filter: blur(1px); */
    background-image: url('/books-header.jpg');
  }
  form {
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      padding: 0 8pc;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      padding: 0 25pc;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      padding: 0 25pc;
    }
  }
  .login-container {
    border-radius: 5px;
   /* background-image: url('/login-panel.png');*/
    background: yellowgreen;
    padding: 15px;
    #newUserButton,
    #signinButton {
      margin: 2px;
      float: right;
    }
  }
}
