.settings {
    .page-header {
        background-image: url('/settings-header.jpg');
    }
    .settings-form-field {
        .settings-form-field-header {
            border: none !important;
            padding: 0;
            padding-bottom: 4px;
        }
        .settings-form-field-value {
            font-weight: 500;
            button {
                margin-right: 5px;
            }
        }
        .settings-form-field-value-edit {
            cursor: pointer;
        }
    }
    .resource-type-table-form {
        .resource-type-table-controls-header {
            padding: 0;
            .resource-type-control-group {
                width: 100%;
            }
            .form-group {
                padding: 0;
            }
        }
        .table-form-field-hidden {
            display: none;
        }
    }
}
